block foot

    script(src='js/vendors/jquery-2.1.1.min.js')
    script(src='js/vendors/angular.min.js')
    script(src='js/vendors/angular-ui-router.min.js')
    script(src='js/lib/angular/angular-sanitize.min.js')
<<<<<<< HEAD
    script(src='js/vendors/bootstrap.min.js')
    script(src='js/vendors/lodash.min.js')

    script(src='js/vendors/moment.min.js')
    script(src='js/vendors/angular-pouchdb.js')
    script(src='js/vendors/printThis.js')
    script(src='js/vendors/bootstrap-select.js')
    script(src='js/vendors/bootstrap-switch.js')
    script(src='js/vendors/bootmetro-panorama.js')
    script(src='js/vendors/jquery.mousewheel.min.js')
    script(src='js/vendors/jquery.touchSwipe.min.js')
    script(src='js/vendors/flot/jquery.flot.min.js')
    script(src='js/vendors/flot/jquery.flot.resize.min.js')
    script(src='js/vendors/flot/plugins/curvedLines.js')
    script(src='js/vendors/sparklines/jquery.sparkline.min.js')
    script(src='js/vendors/easypiechart/jquery.easypiechart.min.js')
    script(src='js/vendors/fullcalendar/lib/moment.min.js')
    script(src='js/vendors/fullcalendar/fullcalendar.min.js')
    script(src='js/vendors/simpleWeather/jquery.simpleWeather.min.js')
    script(src='js/vendors/auto-size/jquery.autosize.min.js')
    script(src='js/vendors/nicescroll/jquery.nicescroll.min.js')
    script(src='js/vendors/waves/waves.min.js')
    script(src='js/vendors/bootstrap-growl/bootstrap-growl.min.js')
    script(src='js/vendors/sweet-alert/sweet-alert.min.js')
    script(src='js/vendors/charts.js')


    script(src='js/flot-charts/curved-line-chart.js')
    script(src='js/flot-charts/line-chart.js')
    script(src='js/functions.js')
    script(src='js/demo.js')

=======
    script(src='js/lodash.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/bootstrap-select.js')
    script(src='js/bootstrap-switch.js')
    script(src='js/bootmetro-panorama.js')
    script(src='js/jquery.mousewheel.min.js')
    script(src='js/jquery.touchSwipe.min.js')
    script(src='js/jquery.slimscroll.min.js')
    script(src='js/checklist-model.js')
    script(src='js/html5shiv.js')
    script(src='js/jquery-ui-1.10.3.custom.min.js')
    script(src='js/jquery.tagsinput.js')
    script(src='js/jquery.stacktable.js')
    script(src='js/moment.min.js')
    script(src='js/angular-pouchdb.js')
    script(src='js/printThis.js')
    script(src='js/toPDF/jspdf.js')
    script(src="js/toPDF/lib/FileSaver.min.js")
    script(src="js/toPDF/lib/Blob.js")
    script(src="js/toPDF/jspdf.plugin.ie_below_9_shim.js")
    script(src="js/toPDF/jspdf.plugin.standard_fonts_metrics.js")
    script(src="js/toPDF/jspdf.plugin.sillysvgrenderer.js")
    script(src="js/toPDF/jspdf.plugin.split_text_to_size.js")
    script(src='js/toPDF/jspdf.plugin.from_html.js')
    script(src='js/toPDF/jspdf.PLUGINTEMPLATE.js')
    script(src='js/application.js')
>>>>>>> 56d575140ffa4ca826e7ca493bb4aea986814941
    script(src='js/app.js')
    script(src='js/modules/lang.js')
    script(src='js/common/services/services.js')
    script(src='js/common/filters/filters.js')
    script(src='js/common/directives/directives.js')
    script(src='js/modules/dashboard/dashboard.js')
    script(src='js/modules/order/order.js')
    script(src='js/modules/reports/reports.js')
    script(src='js/modules/item/item.js')
    script(src='js/modules/bills/bills.js')
    script(src='js/modules/dispense/dispense.js')
    script(src='js/modules/supplier/supplier.js')
    script(src='js/modules/admin/admin.js')
    script(src='js/modules/stock/stock.js')
    script(src='js/extra/modal/classie.js')
    script(src='js/extra/modal/modalEffects.js')
    script(src='js/extra/modal/cssParser.js')
    script(src='js/extra/modal/css-filters-polyfill.js')