head
  block head
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
    base(href='/')
    title Integra Drug Store
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/flat-ui.css')
    link(rel='stylesheet', href='/css/app.css')

