
div#frontpage.container-fluid
  .row-fluid
    .span2
      h2 Drug Store
      span=title 
    .offset8.span2
      img.authorphoto (src="public/images/demo/browser_author.jpg")
      h2 Mykel Koded
