head
  block head
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    base(href='/')
    title Integra DrugStoc
    link(rel='stylesheet', href='css/vendors/animate-css/animate.min.css')
    link(rel='stylesheet', href='css/vendors/sweet-alert/sweet-alert.min.css')
    link(rel='stylesheet', href='css/vendors/material-icons/material-design-iconic-font.min.css')
    link(rel='stylesheet', href='css/vendors/socicon/socicon.min.css')

    link(rel='stylesheet', href='css/app.min.1.css')
    link(rel='stylesheet', href='css/app.min.2.css')
    link(rel='stylesheet', href='css/app.3.css')
