.row-fluid.row-break
  .span2.actioncol
    <a class="btn btn-large btn-block btn-primary" href="#fakelink">Save Order</a>
    <a class="btn btn-large btn-block btn-primary" href="#fakelink">Go Back</a>
  .span8
    .row-fluid
      form#form-new-order
        .span4
          label(for="itemtype") Inventory Type
          select(name="itemtype", class="input-medium")
            option Medication
            option Equipment
          label(for="itemname") Item / Drug Name
          input(type="text",class="span3",name="itemname")          
          label(for="orderdate") Order Date
          input(type="text",class="datepicker",name="orderdate")
          label(for="orderamount") Order Amount
          input(type="number",class="span2",name="orderamount")
          label(for="orderdesc") Order Description
          textarea(name="orderdesc",class="span3")