#dialog-category.modal.hide.fade.alt-text()
  .modal-header
    h4 Add a new Category
  .modal-body
    input(type="text", ng-model="catInput")
    button.btn.btn-success(type="submit", ng-click="addCat()") Add
    h4 Select Categories
    ul
      li(ng-repeat="cat in catList")
        {{cat.categoryName}}
        button.btn.btn-mini(href="#", ng-click="removeCat($index)")  Delete        
        button.btn.btn-mini(href="#", ng-click="addToItem($index)")  Add
    p {{catList.length}} categories.
  .modal-footer
    button.btn.btn-default(new-modal="#dialog-category") Close
