#home.panorama(panorama)
  .panorama-sections
    .row.row-break
      #items-section.actionSection.col-md-6.panorama-section
        .row
          .col-md-6
            .tile.palette-emerald(ng-click="commons.href('items')")
              .tile-sub
                span.enicon.whiteicon &#57349;
                h4 View Inventory
          .col-md-6
            .tile.palette-sun-flower(ng-click="commons.href('items/add')")
              .tile-sub
                span.enicon.whiteicon &#10133;
                h4 Add Inventory
        .row.row-break
          .col-md-4
            .tile.palette-pomegranate(ng-click="commons.href('items/view/low')")
              .tile-sub
                span.enicon.whiteicon &#128255;
                h4 {{itemsCount.low}}
                span Low Stock Items
          .col-md-4
            .tile
              .tile-sub
                h4 {{itemsCount.count}}
                span total stock
      #orders-section.actionSection.col-md-6.panorama-section
        .row
          .col-md-6
            .tile.palette-amethyst(ng-click="commons.href('dashboard/order')")
              .tile-sub
                span.enicon.whiteicon &#59197;
                h4 Place Order
          .col-md-6
            .tile.palette-peter-river(ng-click="commons.href('orders')")
              .tile-sub
                span.enicon.whiteicon &#128200;
                h4 View Orders
        .row.row-break
          .col-md-4
            .tile.palette-turquoise(ng-click="commons.href('dashboard/order?by=composition', 1)")
              .tile-sub
                span
                  i.fa.fa-search(style="font-size: 70px;display: block;text-align: right;")
                span Search By Composition
          .col-md-4
            .tile.palette-turquoise(ng-click="commons.href('orders/pending/order')")
              .tile-sub
                h4 {{ordersCount.pendingorders}}
                span pending orders
          .col-md-4
            .tile.palette-turquoise(ng-click="commons.href('orders/pending/invoices')")
              .tile-sub
                h4 {{ordersCount.pendingpayment}}
                span pending payments
      #admin-section.actionSection.col-md-6.panorama-section
        .row
          .col-md-6
            .tile.palette-silver(ng-click="commons.href('dispensary')")
              .tile-sub
                h4 Dispensary
          .col-md-6
            .tile.palette-silver(ng-click="commons.href('stock/locations')")
              .tile-sub
                h4 Stock Down Points
        .row.row-break
          .col-md-4
            .tile.palette-clouds(ng-click="commons.href('suppliers')")
              .tile-sub
                h4 Suppliers
          .col-md-4
            .tile.palette-clouds(ng-click="commons.href('reports')")
              .tile-sub
                h4 Reports
          .col-md-4
            .tile.palette-clouds(ng-click="commons.href('admin')")
              .tile-sub
                h4 Admin

append foot
  script(src='/js/index.js')