append head
  link(rel='stylesheet', href='/css/table-fixed-header.css')

block body
  include ../includes/modals/modal-order-supplied.jade
  .row-fluid.row-break
    .span2.actioncol
      button.btn.btn-large.btn-block.btn-primary(type="button", ng-click='submitOrder()') All Orders
      button.btn.btn-large.btn-block.btn-default(href="#fakelink", ng-click="backBtn()") Go Back
    .span10
      .row-fluid.fixed-table
        .table-content
          table#list-orders.table.table-fixed-header
            thead.header
              tr
                th Prescription ID
                th Patient Name
                th Drugs
                th Cost
                th Status
                th Bill Class
                th Action
            tbody
              tr(ng-repeat="", on-finish="tableheader")
                td {{order.orderID}}
                td {{order.orderType}}
                td 
                  a(href="/items/{{order.itemData[0].itemID}}/edit") {{order.itemData[0].itemName}}
                td {{order.orderAmount}}
                td {{order.orderDate | date:'medium'}}
                td.orderDesc {{order.orderDescription}}
                td 
                  .btn-group
                    button.btn.btn-small More
                    button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
                      span.caret
                    ul.dropdown-menu.alt-text
                      li <a ng-click="$parent.changeStatus('supplied',order.itemData[0],order.orderAmount,order.orderID)" new-modal="#modal-order-supplied">Supplied</a>
                      li <a href="#">Returned</a>
                      li <a href="#">Paid</a>
                      li <a href="#">Archive</a>



append foot
  script(src="js/table-fixed-header.js")                

