block body
  include ../includes/modals/modal.jade
  .row-fluid.row-break()
    .span8
        form#form-new-order.form-search(name="newOrder", novalidate, ng-submit="searchcmp(searchQuery)")
          input#itemname.span6.search-query(type="text",name="itemName",ng-model="searchQuery", required, placeholder="Item / Drug Name / Composition")
          button.btn(type="submit") Search
    .span4
      .btn-group.order-tabs
        button.btn(ng-click="activePane = 'iv'; activeText = 'your inventory'", ng-class="{'active': activePane == 'iv'}") Your Inventory
        button.btn(ng-click="activePane = 'ds'; activeText = 'DrugStoc'", ng-class="{'active': activePane == 'ds'}")
          | DrugStoc
        button.btn(ng-click="activePane = 'nr'; activeText = 'the NAFDAC Register'", ng-class="{'active': activePane == 'nr'}")
          | NAFDAC Register

  .row-fluid
    .span12
      p(style="text-transform: none", ng-show="inventoryResults.length || drugstocResults.length || nafdacResults.length") Viewing results from {{activeText}}
      table.table.table-hover
        thead(ng-show="activePane == 'iv'", style="border-top: solid 1px #fff")
          tr
            th Product
            th Price (n)
            th Cost (n)
            th Quantity
            th  
        tbody(ng-show="activePane == 'iv'")
          tr(ng-repeat="iv in inventoryResults")
            td.span8
              .media
                .media-body
                  h4.media-heading
                    a(href='#') {{iv.itemName}}
                  p.media-body
                    span {{iv.sciName}}
            td.span1
              strong
            td.span1
              strong {{iv.itemPurchaseRate}}
            td.span1()
              .controls.controls-row
                input#exampleInputEmail1.form-control.pull-left.span6(type='number', value='3')
                button.btn.btn-danger.btn-mini.span4(type='button')
                  i.fa.fa-cart-plus
            td.span1

        thead(ng-show="activePane == 'ds'")
          tr
            th Product
            th Price (N)
            th Last Update
            th Order Amount
            th  
        tbody(ng-show="activePane == 'ds'")
          tr(ng-repeat="ds in drugstocResults")
            td.span7
              .media
                .media-body
                  h4.media-heading
                    a(href='#') {{ds.title}}
                  p.media-body
                    span(ng-bind-html="ds.description")
            td.span1
              strong {{ds.price}}
            td.span1
              strong {{ds.updated_at | date:medium}}
            td.span1()
              .controls.controls-row
                input#exampleInputEmail1.form-control.pull-left.span6(type='number', value='3')
                button.btn.btn-danger.btn-mini.span4(type='button')
                  i.fa.fa-cart-plus
            td.span1
              button.btn.btn-primary.btn-mini(type='button')
                i.fa.fa-list-ol
        thead(ng-show="activePane == 'nr'")
          tr
            th Product
            th
            th Manufacturer
            th
            th  
        tbody(ng-show="activePane == 'nr'")
          tr(ng-repeat="nr in nafdacResults")
            td.span6
              .media
                .media-body
                  h4.media-heading
                    | {{nr.productName}}
                  p.media-body
                    span {{nr.composition}}
            td

            td.span1
              strong {{nr.man_imp_supp}}
            td(style='text-align: center')
            td.span3
              button.btn.btn-default.btn-mini(type='button', title="Send Inquiry")
                i.fa.fa-info
                |  Send Inquiry
