block body
  include ../includes/modals/modal.jade
  .row-fluid.row-break
    .span2.actioncol
      button.btn.btn-large.btn-block.btn-primary(ng-init="saveButtonText='Save Item'", type="button",ng-click='submitOrder()') {{saveButtonText}}
      button.btn.btn-large.btn-block.btn-default(ng-click="backBtn()") Go Back
    .span4
      .row-fluid
        form#form-new-order(name="newOrder")
          label(for="itemtype") Inventory Type
          select#itemType.input-medium(name="orderType",ng-model="form.orderType")
            option Medication
            option Medical Equipment
          label(for="itemname") Item / Drug Name
          input#itemname.span6(type="text",name="itemName",ng-model="form.itemData.itemName",type-ahead, th-name="itemname")
          input#itemname(type="hidden",name="itemID",ng-model="form.itemData.itemID")          
          label(for="orderdate") Order Date
          input#orderdate.span4(type="date", name="orderDate", ng-model="form.orderDate")
          label(for="orderamount") Order Amount
          input#orderamount.span4(type="number",name="orderAmount",ng-model="form.orderAmount")
          label(for="orderdesc") Order Description
          textarea#orderdesc.span6(ng-model="form.orderDescription",name="orderDescription")
          label(for="orderamount") Order Supplier
          input#order-supplier-name.span6(type="text",name="orderSupplierName",ng-model="form.orderSupplier.orderSupplierName",type-ahead, th-name="suppliername") 
    .span3.offset2
      .row-fluid
        #item-summary.open-summary(summary-data="summary", ng-class="ordersummary")
          h3 Item Summary
          div.summary
            dl
              dt Name
              dd {{summary.itemName}}
              dt Scientific Name
              dd {{summary.sciName}}
              dt Manufacturer
              dd {{summary.manufacturerName}}
              dt Current Stock
              dd {{summary.currentStock}}
              dt Last Order Date
              dd {{summary.lastSupplyDate | date:'medium'}}
              dt Rate
              dd {{summary.itemPurchaseRate}}        