append head
  link(rel='stylesheet', href='/css/table-fixed-header.css')

block body
  include ../includes/modals/modal-order-supplied.jade
  .row-fluid.row-break
    .span2.actioncol
      .search-bar
        input.input-medium(type="search", ng-model="cartFilter.supplier", placeholder="Search Suppliers")

      button.btn.btn-large.btn-block.btn-success(new-modal="#modal-order-supplied", ng-disabled="!selectedCart.length", ng-click="cart_is_checkedout = false")
        i.fa.fa-shopping-cart.pull-left
        | Checkout Items
      //
        button.btn.btn-large.btn-block.btn-success(ng-click="send_sms()")
          i.fa.fa-envelope-o.pull-left
          |   Send SMS
      button.btn.btn-large.btn-block.btn-default(ng-click="commons.backBtn()") Go Back
    .span10(ng-show="orderCart.length > 0 && !selectedView")
      .row-fluid.fixed-table
        #print-table-cart.table-content
          table#list-cart.table.table-fixed-header
            thead.header
              tr
                th
                  input(type="checkbox", ng-model="checkAll", ng-click="checkAllClick")
                th Item
                th Quantity
                th Price (N)
                th.noprint Order Date
                th.noprint Supplier
                th.noprint Action
            tbody
              tr(ng-repeat="or in orderCart | filter: cartFilter")
                td
                  input(type="checkbox", checklist-model="selectedCart", checklist-value="or", ng-checked="checkAll")
                td {{or.itemName}}
                td {{or.orderAmount}}
                td {{or.orderPrice}}
                td.noprint {{or.orderDate | moment}}
                td.noprint {{(or.isDrugStocOrder) ? 'DrugStoc' : or.orderSupplier.supplierName }}
                td.noprint
                  button.btn.btn-small.btn-danger.btn-bell(ng-click="removeFromCart($index)")
                    i.fa.fa-times
    .span10(ng-show="orderCart.length === 0")
      h4.align-center Order Cart Empty





append foot
  script(src="js/table-fixed-header.js")

