extends ../layouts/default

append head
  link(rel='stylesheet', href='/css/bootstrap-datepicker.css')

block body
  .row-fluid.row-break
    .span2.actioncol
      button.btn.btn-large.btn-block.btn-primary(type="button", ng-click='submitOrder()') Save Order
      button.btn.btn-large.btn-block.btn-default(href="#fakelink") Go Back
    .span4
      .row-fluid
        form#form-new-order(ng-controller="newOrderCtrl")
          label(for="itemtype") Inventory Type
          select#itemType.input-medium(name="orderType",ng-model="form.orderType")
            option Medication
            option Equipment
          label(for="itemname") Item / Drug Name
          input#itemname.span3(type="text",name="itemID",ng-model="form.itemID",typeahead)          
          label(for="orderdate") Order Date
          input#orderdate.date-input-field(type="text", data-date-format="dd/mm/yyyy", name="orderDate",ng-model="form.orderDate", datepicker)
          label(for="orderamount") Order Amount
          input#orderamount.span1(type="number",name="orderAmount",ng-model="form.orderAmount")
          label(for="orderdesc") Order Description
          textarea#orderdesc.span3(ng-model="form.orderDescription",name="orderDescription")
          label(for="orderamount") Order Supplier
          input#orderamount.span2(type="text",name="orderSupplier",ng-model="form.orderSupplier")
    .span3.offset2
      .row-fluid
        #item-summary(ng-controller="summarydataCtrl")
          h3 Item Summary
          div.summary
            dl
              dt Name
              dd {{itemName}}
              dt Scientific Name
              dd {{sciName}}
              dt Manufacturer
              dd {{manufacturerName}}
              dt Supplier
              dd {{supplier}}
              dt Current Stock
              dd 200
              dt Last Order Date
              dd Tuesday March 03 2013
              dt Rate
              dd {{itemRate}}        
  div(ng-view)


append foot
  script(src='js/bootstrap-datepicker.js')