block body
  include ../includes/modals/items/modal-item.jade
  include ../includes/dialogs/items/category.jade
  include ../includes/dialogs/items/form.jade
  include ../includes/dialogs/items/packaging.jade
  .row-fluid.row-break
    .span2.actioncol
      button.btn.btn-large.btn-block.btn-primary(ng-click="updateItem()") Update
      button.btn.btn-large.btn-block.btn-primary(ng-click="commons.backBtn()") Go Back
    .span8
      .row-fluid
        form#form-add-item(name="editItem")
          .span4
            label(for="itemtype") Inventory Type
            select(name="itemtype",class="span6",ng-model="form.itemType", required)
              option Medication
              option Medical Equipment
            label(for="name") Brand Name 
            input.input-medium(type="text",name="name", ng-model="form.itemName", type-ahead, th-name="nafdacdrugs", required)              
            label(for="sci-name") Scientific Name / Composition
            input.input-medium(type="text", name="sci-name",ng-model="form.sciName", required)
            label(for="man-name") Manufacturer
            input#manufacturerName.input-medium(name="manufacturerName",type="text",ng-model="form.manufacturerName", required)                
            label.lister(for="category") Category
              button.btn.btn-mini.btn-info.nop(new-modal="#dialog-category")
                i.fa.fa-ellipsis-horizontal
            ul#itemCategory.fa-ul.listing(ng-model="form.itemCategory")
              li(ng-repeat="itemCat in form.itemCategory ", ng-click="removeItemCat($index)")
                | {{itemCat.categoryName}}
            p {{form.itemCategory.length}} categories selected.

            label(for="itemdesc") Item Description
            textarea(name="itemdesc",ng-model="form.itemDescription")
          .span4.offset2            
            label.lister(for="supplier") Supplier  
            ul#itemSuppliers.fa-ul.listing(ng-model="form.suppliers")
              li(ng-repeat="itemSup in form.suppliers", ng-click="removeItemSup($index)")
                | {{itemSup.supplierName}}
            input.input-medium(type="text", name="supplier", supplier-name-type-ahead)                
            p {{form.suppliers.length}} suppliers selected.
            label(for="icd") ICD Code
            input.input-small(type="text",name="icd",ng-model="form.icdcode")           
            label(for="bp") Boiling Point
            input.input-small(type="number",name="bp",ng-model="form.itemBoilingPoint", required, ng-minlength=0, ng-maxlength=100)
            label(for="itemsize") Package Size
            input.input-small(name="itemsize",type="number",ng-model="form.packageSize", required)
            label(for="itemform") Item Form
            p.disabled-input(ng-click="itemFormShow = !itemFormShow", ng-init="itemFormShow = false", ng-show="!itemFormShow") {{form.itemForm}}
            select(name="itemform",ng-model="form.itemForm", ng-options="c for c in commons.itemForm", ng-show="itemFormShow")
            label(for="itempackaging") Item Packaging
            p.disabled-input(ng-click="itemPackagingShow = !itemPackagingShow", ng-init="itemPackagingShow = false", ng-show="!itemPackagingShow") {{form.itemPackaging}}
            select(name="itempackaging",ng-model="form.itemPackaging", ng-options="d for d in commons.itemPackaging", ng-show="itemPackagingShow")
            label(for="rate") Purchase Rate
            input.input-medium(name="rate",type="number",ng-model="form.itemPurchaseRate", required, readonly)
