
.block-header
  h2 All Inventory
  .actions-alt
    .row
      .col-md-6.col-xs-12.col-md-offset-6
        .row
          .col-xs-6.col-md-6.col-md-offset-2
              .form-group(style="margin-bottom: 0")
                .fg-line
                  input.form-control(type='search', placeholder='Search Brand Name', ng-model="search.itemName", style="background-color: transparent;")
          .col-xs-6.col-md-4
              .btn-group.pull-right
                button.btn.btn-default(type='button') Stock Level
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                  span.caret
                  span.sr-only Stock Level
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#', ng-click="search.stockView = 'bgm-green'") Ample Stock
                  li
                    a(href='#', ng-click="search.stockView = 'bgm-red'") Low action
                  li
                    a(href='#', ng-click="search.stockView = 'bgm-gray'") Empty
                  li.divider
                  li
                    a(href='#', ng-click="search.stockView = ''") All Stock
              //.btn-group
                button.btn-default(key-press-jump)
                  i.md.md-keyboard-tab
                input.current-anchor(type="text", maxlength="1", ng-model="anchor_index", ng-change="go_to_anchor(anchor_index)")



.card(ng-repeat="(key,az) in itemsList", id="section{{key}}", on-finish="panorama")
  .card-header.ch-alt
    h2 {{key | uppercase}}
  .card-body.card-padding
    .row
      a.col-sm-3.col-xs-6(ng-repeat="item in az  | orderBy:'itemName' | filter: search", ng-click="summaryDo($event, item, az, $index)", on-finish="checkViewState", ui-sref="items.summary.info({'itemId' : item._id})")
        .color-block(class="{{item.currentStock | stockclass: item.itemBoilingPoint}}")
          span.color {{item.itemName}}
          span.less {{item.currentStock}}


.card.no-item-holder(ng-show="!hasItems")
  h4 No Items added.
  a.btn.btn-primary(href="items/add") Add
include ../includes/inventory-side-pane.jade
append foot