nav.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right(ng-class="spmenu")
  h3 Item Summary
  div.summary
    dl
      dt Name
      dd {{summary.itemName}}
      dt Scientific Name
      dd {{summary.sciName}}
      dt Manufacturer
      dd {{summary.manufacturerName}}
      dt Current Stock
      dd {{summary.currentStock}}
      dt Last Order Date
      dd {{summary.lastSupplyDate | date: 'medium'}}
      dt Rate
      dd {{summary.itemPurchaseRate}}
  div.summary-actions
    p 
      button.btn.btn-block.btn-warning(data-ng-click="commons.href('/items/'+summary._id+'/edit')") Edit Item
    p 
      button.btn.btn-block.btn-warning(data-ng-click="commons.href('/dashboard/order/'+summary._id)") Place Order    
    p 
      button.btn.btn-block.btn-warning(data-ng-click="commons.href('/dashboard/order/'+summary._id)") Reduce Stock
    p 
      button.btn.btn-block.btn-danger(data-ng-click="delConfirm = !delConfirm; delBtnText = 'Are you sure ?'", ng-init="delConfirm = true") {{delBtnText}}
      div(ng-show="!delConfirm")
        button.btn.btn-danger.btn-block(data-ng-click="deleteItem(summary._id)") Yes
        button.btn.btn-inverse.btn-block(data-ng-click="delConfirm = true; delBtnText = 'Delete Item'") Cancel
    p 
      button.btn.btn-block.btn-default.btn-close(data-ng-click="spmenu=''", ng-class="spmenu") Close

.row-fluid.row-break
  .span2.actioncol
    .row-fluid
      input.input-medium(type="search", ng-model="search", placeholder="Search Items")
    .row-fluid
      select.select-block(name="inventoryType", value="Medication")
        option(value="Medication") Medication
        option(value="Medical Equipement") Medical Equipment
    .row-fluid
      select.select-block(name="categorylist",value="Category")
        option(value="") Category
        option(value="0") Antibiotics & Antimicrobal
        option(value="1") Anti Malaria
        option(value="2") Antiseptic
        option(value="3") Cardio
    .row-fluid
      select.select-block.stockFilter
        option(selected)
        option(value="") All Stock
        option(value="good-stock") Good Stock
        option(value="low-stock") Low Stock
        option(value="empty-stock") Empty Stock
  .span10
    .row-fluid    
      .panorama
        .sectionAZ.panorama-sections(ng-show="hasItems")
          .card-section.span6.panorama-section(data-ng-repeat="(key,az) in itemsList", id="section{{key}}", on-finish="panorama")
            .card(data-ng-repeat="item in az  | orderBy:'itemName' | filter: search", class="{{item.currentStock | stockclass: item.itemBoilingPoint}}", data-ng-click="summaryDo($event, item._id)", on-finish="checkViewState")
              h5 {{item.itemName}}
              span.low{{item.currentStock}} 
        .no-item-holder(ng-show="!hasItems")
          h4 No Items added. 
          a.btn.btn-primary(href="items/add") Add             
      .row-fluid.row-break
        ul.index-list
          li(data-ng-repeat="index in indexes", class="index {{enabledIndex | indexclass: index}}") {{index}}

append foot
  script(src="js/index.js")