append head
  link(rel='stylesheet', href='/css/table-fixed-header.css')

block body
  include ../includes/modals/modal-stock-down.jade
  .row-fluid.row-break
    .span2.actioncol
      button.btn.btn-large.btn-block.btn-primary(ng-click="toggleModal()", new-point-modal="modalstate") New Location
      button.btn.btn-large.btn-block.btn-primary(ng-click="toggleModal()", new-point-modal="modalstate") Request Stock
      button.btn.btn-large.btn-block.btn-default(ng-click="backBtn()") Go Back
    .span2
      ul.list-block
        li.palette-turquoise(data-ng-repeat="location in locations")
          h4 {{location.locationName}}
    .span8(ng-controller="itemIndexController")
      .row-fluid.fixed-table
        .span12
          .table-content
            table#list-orders.table.table-fixed-header
              thead.header
                tr
                  th Item Name
                  th Last Requested
                  th Amount Requested
                  th Current Stock
                  th Actions
              tbody
                tr(ng-repeat="item in itemsRaw", on-finish="tableheader")
                  td {{item.itemName}}
                  td {{item.currentStock}}
                  td
                  td
                  td


append foot
  script(src="js/table-fixed-header.js")                

