#modal-create-stock-down.modal.hide.fade.alt-text(data-backdrop="static")
    .modal-header
        h3 Create New Stock Down Point
      .modal-body
        form.new-stock-down
            .control-group
                label.control-label Name
                .controls
                    input.input-block-level(type="text",name="name", ng-model="location.locationName")
            .control-group
                label.control-label Staff In-Charge
                .controls
                    input.input-block-level(type="text",name="authority", ng-model="location.locationAuthority")
            .control-group
                label.control-label Boiling Point (%)
                .controls
                    input.input-small(type="text",name="bp-percentage", ng-model="location.locationBoilingPoint")
            .control-group
                label.control-label Description
                .controls
                    textarea.input-block-level(name="description", ng-model="location.locationDescription")

      .modal-footer
        button.btn.btn-default(ng-click="toggleModal()") Back
        button.btn(ng-click="createPoint()",ng-init="saveButtonText='Create'", ng-class="saveButtonClass") {{saveButtonText}}
