#mopop.modal.hide.fade.alt-text
    .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h3 {{modal.heading}}
      .modal-body
        p {{modal.body}}
      .modal-footer
        a.btn.btn-primary(href='#') Back
