#modal-order-supplied.modal.hide.fade.alt-text(data-backdrop="static")
    .modal-header
        div(style="float: left;width: 50%;display: inline-block;")
          form(style="margin-bottom: 0")
            label.lister(for="supplier") Choose Supplier
            input.input-medium(type="text", name="supplier", order-supplier-type-ahead)
        div(style="float: left;width: 50%;display: inline-block;")
          button.btn.btn-large.pull-right.btn-success(checkfunc="placeOrder(cb)", printable="print-table-cart", print-tpl="supplier-cart", print-scope="printScope", ng-disabled="!printOrderToSupplier._id || cart_is_checkedout") Place Order

        .clearfix
    .modal-body.purchase-order(ng-show="selectedCart.length && printOrderToSupplier")
      h3(style="text-decoration: underline; text-align: center") Purchase Order

      address
        | <strong> {{printOrderToSupplier.supplierName}} </strong><br>
        | {{printOrderToSupplier.address}}<br>
        | {{printOrderToSupplier.email}}<br>
        | {{printOrderToSupplier.phoneNumber}}<br>

      div.date-field
        span {{selectedCart[0].orderDate | date:'short'}}

        #print-table-cart.table-content
          table#list-cart.table.table-fixed-header
            thead.header
              tr
                th Item
                th Quantity
                th Price (N)
            tbody
              tr(ng-repeat="or in selectedCart")
                td {{or.itemName}}
                td {{or.orderAmount}}
                td {{or.orderPrice}}




    .modal-footer
      button.btn.btn-default(new-modal="#modal-order-supplied") Back
      button.btn(ng-click="sms_purchase_order()" ng-class="saveButtonClass", ng-disabled="!printOrderToSupplier.phoneNumber && !printOrderToSupplier.isRequesting")
        | <i class="fa fa-envelope-o " > SMS</i>
      button.btn(ng-class="saveButtonClass", ng-disabled="!printOrderToSupplier.email")
        | <i class="fa fa-at" > Email</i>
      button.btn(ng-class="saveButtonClass", ng-click="print_purchase_order('.purchase-order')", ng-disabled="!printOrderToSupplier._id")
        | <i class="fa fa-print" > Print</i>
